<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style>
    body { padding: 30px; }
    em { font-weight: bolder; font-style: normal; }
    .error { color: red; }
  </style>
</head>
<body>
  <div id="app" class="ui">
    <h1>Search Testing</h1>

    <div class="ui three cards">
      <div class="ui card">
        <div class="content">
            <div class="ui icon input">
              <input type="text" placeholder="Search..." v-on:keyup="executeSearch" v-model="query">
              <i class="search icon"></i>
            </div>
        </div>
        <div class="content">
          <p v-if="error" class="error"><small><% error %></small></p>
          <p v-for="disclaimer in disclaimers"><small><% disclaimer %></small></p>
        </div>
      </div>

      <div class="ui card" v-for="hit in searchResultHits">
        <div class="content">
          <div class="header"><% hit.title %></div>
          <div class="ui" v-for="fieldResult in hit.fieldResults">
            <div class="meta">
              <span class="category">
                <% fieldResult.fieldName %>
              </span>
            </div>
            <div class="description" v-html="fieldResult.snippet"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      delimiters: ['<%', '%>'],
      data: {
        query: '',
        error: null,
        searchResult: null,
        inFlight: false,
        lastQuery: null,
      },
      methods: {
        executeSearch: function () {
          if (this.inFlight) return;
          if (this.lastQuery == this.query) return;
          const query = this.query;
          this.inFlight = true;
          fetch(`http://localhost:8080/search?query=${query}`)
            .then((result) => result.json())
            .then((json) => {
              this.error = null;
              this.searchResult = json;
            })
            .catch((error) => this.error = error)
            .finally(() => {
              this.inFlight = false;
              this.lastQuery = query;
              // User has typed in new query while this one was in-flight. Run
              // new search request.
              if (query != this.query) this.executeSearch();
            });
        },
      },
      computed: {
        disclaimers: function () {
          if (this.query.length == 0) {
            return ['Type a search.'];
          }
          if (this.searchResult.hits.length == 0) {
            return ['No hits found for query: ' + this.query];
          }
          let ret = [];
          if (this.searchResult.spelling_correction) {
            ret.push('No hits found for query: ' + this.query);
            ret.push('Searching instead for: ' + this.searchResult.query_terms.join(' '));
          }
          const len = this.searchResult.hits.length;
          const pluralized = len == 1 ? 'result' : 'results';
          ret.push(`Found ${this.searchResult.hits.length} ${pluralized}.`);
          return ret;
        },
        searchResultHits: function() {
          if (!this.searchResult) return [];
          return this.searchResult.hits.map((hit) => {
            const title = `Document ID ${hit.document_id}`;
            let fields = Object.entries(hit.fields).map((pair) => {
              return { index: parseInt(pair[0]), indexStr: pair[0], fieldName: pair[1] };
            });
            fields.sort((a, b) => a.index - b.index);
            const fieldResults = fields.map((field) => {
              return {
                fieldName: field.fieldName,
                snippet: hit.field_snippets[field.indexStr].body,
              };
            });
            return { title, fieldResults };
          });
        },
      },
    });
  </script>
</body>
</html>

